@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



.header{
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #f1f1f1;
}

.menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo{
    height: 2rem;
}

.menu a{
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    
}

.menu a:hover{
    color: red;
}




